
#map {
    height: 88%;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Merriweather';
}

p {
    font-family: 'Merriweather';
}

.column {

    width: 33.3%;
}
.column2 {

    width:33.3%;
}
.column3 {
 
    width:33.3%;
}


.row-try:after {
    content: "";
    display: table;
    clear: both;
}