
#map {
    height: 88%;
    width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Chau Philomene One', sans-serif;
}

p {
    font-family: 'Catamaran', sans-serif;
}

.serenity-title {
    text-align:center;
}

.navbar-nav > li > a {
    display: flex;
    align-items: center;  
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }

.navbar {
    display: flex;
    height: 100px;
    line-height: 20px;
}