
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 30;
    padding: 30;
    background-color:#ECFFE8 !important; 

}

br {
    background-color:#ECFFE8;
}

h1 {
    font-family: 'Chau Philomene One', sans-serif;
}

p {
    font-family: 'Catamaran', sans-serif;
    text-align: justify;
}

.serenity-title {
    text-align:center;
    
}

.navbar-nav > li > a {
    display: flex;
    align-items: center;  
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    background-color:#ECFFE8;
  }

.navbar {
    display: flex;
    height: 100px;
    line-height: 20px;
    margin: 30px;
    background-color:#ECFFE8;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.jumbotron {
    background-color:#ECFFE8;
}

.container {
    background-color:#ECFFE8;
}

.container-fluid{
    background-color:#ECFFE8;
}


.card-title {
    background-color:#ECFFE8;
}

.card-columns {
    background-color:#ECFFE8;
}

.card-body {
    background-color:#ECFFE8;
    margin:0px;
    padding:0px;

}

.box{
    border: 4px solid black;
    margin: 0 auto;
    background-color:#ECFFE8;
}

ul {
    list-style-type:none;
}

li {
    text-align: start;
}

h6 {
    text-align: justify;
}