<!DOCTYPE html>
{%load static%}
<html>

<head>
    <style>
        h1 {
            text-align: center;
            color:ForestGreen
        }

        p {
            color: darkolivegreen;
            margin: 30px;
        }

        h2 {
            color: forestgreen;
            margin: 30px;
        }

        p {
            text-align: right;
        }

        h3 {
            color:ForestGreen;
            margin: 40px;
        }

        h5{
            color:ForestGreen;
        }
        h6{
            color:ForestGreen;
        }
        li{
            color:ForestGreen;
        }

        div {
            text-align: center;
        }
        .bar {
            margin: 0 auto;
            width: 350px;
            border-radius: 30px;
            border: 1px solid #dcdcdc;
        }

        .bar:hover {
            box-shadow: 1px 1px 8px 1px #dcdcdc;
        }

        .bar:focus-within {
            box-shadow: 1px 1px 8px 1px #dcdcdc;
            outline: none;
        }

        .searchbar {
            height: 45px;
            border: none;
            width: 500px;
            font-size: 16px;
            outline: none;

        }

        hr.divider {
            margin-top: 0em;
            border-width: 2px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SerenitySearch</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;700&family=Chau+Philomene+One&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" 0>

</head>

<body style="">


    <nav class="navbar navbar-expand-lg navbar-light" style="height:80px; background-color: #1411112b;">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-left mt-3 row">
            <div class="col-auto">
                <h1 style="color:ForestGreen; font-family:Snell Roundhand;">SerenitySearch</h1>
            </div>

        </div>

        <!-- pe-6 is a bootstrap spacing class, need to figure out a better way to align the links and title -->
        <ul class="navbar-nav pe-6">
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{%url 'about' %}">About SerenityScores</a>
            </li>
            {% block user %}
            {% if user.is_authenticated %}
            <li class="nav-item align-right pe-3">
                <a class="nav-link align-left" href="{% url 'profile' %}">View {{user.username}}'s Profile</a>
            </li>
            <li class="nav-item align-right pe-3">
                <a class="nav-link align-right" href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item align-right">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            {% endif %}
            {% endblock %}
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'forum_home' %}">Forum Home</a>
            </li>

            </p>

    </nav>
    <hr class = "divider" style="border-top: 1px solid gray ;">

    <!-- In your Django template -->
    <br><br>
    <div class="container">
        <div class="container">
            <h2> Why Search for Serenity? </h2>

            <p> We at SerenitySearch believe that mental health is just as important, if not more important, then physical health, and 
                mental health care starts at home! New Yorkers are a fast-paced & stressed population, and as the city grows increasingly
                dense it becomes even more vital for its residents to have peaceful, and healthy homes to return to at the end of their days.
                SerenitySearch hopes to help New Yorkers find peaceful places to live within the city, and we hope to in general 
                encourage discussion and conversation about the importance of wellness and the curation of peaceful spaces.
            </p>
            <p> <a href="https://hms.harvard.edu/magazine/viral-world/effects-noise-health">Multiple studies</a> 
                have <a href="https://www.theguardian.com/lifeandstyle/2018/jul/03/sonic-doom-noise-pollution-kills-heart-disease-diabetes">demonstrated </a>
                that noise pullution negatively affects <a href="https://www.mentalhealthtoday.co.uk/innovations/can-noise-pollution-affect-our-mental-health">mental health</a>. 
                Even when we are <a href="https://journals.lww.com/environepidem/Fulltext/2019/08000/Environmental_noise_and_sleep_and_mental_health.4.aspx">sleeping</a>, 
                our brains are listening and evaluating the sounds surrounding us, so if you live in a noisy place chances are your brain does
                not get the rest that it needs. In fact, continued exposure to noise pollution (i.e., honking cars) increases an individual's risk of heart attack,
                anger, likelihood of depression, and <a href="https://www.medicalnewstoday.com/articles/noise-pollution-health-effects#mental-health">sensitivity to stress</a>.
            </p>
            <p>One way to combat the negative affects that noise pollution may have on mental health is to prioritize picking a living
                space based on its levels of noise and overall peacefulness instead of the usual criteria (public transportation distance, access to work
                access to recreation, and price). While we believe that the usual criteria are important (espectially price), we also hold fast 
                to the believe that mental health should be an individual's primary concern, and it has thus far been undervalued within our society. 
                SerenitySearch is committed to providing equal access to calm spaces, and that is why our site is completey free to use, with no subscription
                or fees required for joining. We hope to someday include live rental prices for our users to view alongside
                SerenityScores, but for we encourage discussion regarding affordability and transportation to take place within our dedicated
                user forums.
            </p>
            <p>The SerenityScore here is what we believe to be an accurate scoring of a zip code based upon how peaceful and quite it is.
            </p>
        </div>



    </div>
    <br>

    <div class="container">
        <h2> About Our Scoring </h2>
        <p>
            Using a number of factors contributing peaceful living, our team calculated each zip-code's percentile
            for that factor across all NYC zip codes. For example, a zip code with more trees than 90% of other zip codes
            has a Tree Score of 90 while a zip code with more noise complaints than 90% of other zip codes has a Noise Complaints
            score of 90. If this seems confusing at first, you're right to be confused! Wouldn't we expect a high Tree Score to look
            different from a high Noise Complaints score if the goal is to measure serenity? Yes, we would - that is why factors
            which positively contribute to serenity (like trees!) are factored into the final weighted average with a negative weight.
            The SerenityScore you see is this weighted average.
        </p>

        <div class="container">
            <p> Some more information on our datasets follows...</p>

            <h3>NYC 311 Dataset</h3>
            <p>This 311 data contains information about
                more than 24 million service requests made since 2010. For those who aren’t familiar,
                311 is a phone number used in the U.S. that allows callers to access non-emergency municipal services,
                report problems to government agencies, and request information.</p>
            <p>From this dataset we collected reports related to Residential Noise Complaints, Dirty Condition
                Complaints, Sanitation Complaints, and Waste Disposal Requests. Each complaint type comprises one Serenity factor,
                with the raw scores for these factors reflecting how many of each type of complaint a zip code received
                compared to other zip codes in NYC.
            </p>
        </div>

        <div class="container">
            <h3>DOF Construction Permits</h3>
            <p>The Department of Buildings (DOB) issues permits for construction and demolition activities in the City
                of New York. The construction industry must submit an application to DOB with details of the
                construction job they would like to complete. The primary types of application, aka job type, are: New
                Building, Demolition, and Alterations Type 1, 2, and 3. Each job type can have multiple work types, such
                as general construction, boiler, elevator, and plumbing. Each work type will receive a separate permit.
                Each row/record in this dataset represents the life cycle of one permit for one work type. The dataset
                is updated daily with new records, and each existing record will be updated as the permit application moves
                through the approval process to reflect the latest status of the application.</p>

            <p>
                We estimated scores on the impact the work will have, higher scores mean more impact.
            <ul>
                <h5>Actitivties and estimated relative impact:</h5>
                <li>
                    A1 = Alteration Type I, A major alteration that will change the use, egress, or occupancy of the
                    building.
                    <h6>IMPACT = 4</h6>
                </li>
                <li>
                    A2 = Alteration Type II, An application with multiple types of work that do not affect the use,
                    egress, or occupancy of the building.
                    <h6>IMPACT = 3</h6>
                </li>
                <li>
                    A3 = Alteration Type III, One type of minor work that doesn't affect the use, egress, or occupancy
                    of the building.
                    <h6>IMPACT = 2</h6>
                </li>
                <li>
                    NB = New Building, An application to build a new structure. "NB" cannot be selected if any existing
                    building elements are to remain—for example a part of an old foundation, a portion of a façade that
                    will be incorporated into the construction, etc.
                    <h6>IMPACT = 10</h6>
                </li>
                <li>
                    DM = Demolition, An application to fully or partially demolish an existing building.
                    <h6>IMPACT = 10</h6>
                </li>
                <li>
                    SG = Sign, An application to install or remove an outdoor sign.
                    <h6>IMPACT = 1</h6>
                </li>
            </ul>
            </p>
        </div>


    </div>

    <div class="container">

        <h3>NYC Street Tree Census 2015</h3>
        <p>Street tree data from the TreesCount! 2015 Street Tree Census, conducted by volunteers and staff organized by
            NYC Parks & Recreation and partner organizations. Tree data collected includes tree species, diameter and
            perception of health. Accompanying blockface data is available indicating status of data collection and data
            release citywide.</p>
        <p>From this dataset we simply summed the number of street trees in every zipcode, as we believe that a high density
            of trees may contribute significantly to peaceful living. Zip codes are similar enough in area that we assume 
            a larger number of trees corresponds to a higher density of trees. 
        </p>
        <p>Trees improve mental health in a number of ways which include: generating clean oxygen (air purification), absorbing
            polution, and provifing seclusion. 
        </p>
    </div>

    <div class="container">

        <h3>NYC Parks Properties</h3>
        <p>This dataset identifies property managed partially or solely by NYC Parks. This data has been produced in
            whole or part using secondary data. Data accuracy is limited by the scale and accuracy of the original
            sources. Site-specific conditions should be field-verified.

            Records are added as more land is designated under NYC Parks’ jurisdiction. Each record represents an
            acquisition.</p>

    </div>

    <div class="container">
        <div class="container">
            <h2> Why User Feedback? </h2>
            <p> No one knows your own neighborhood better than you! </p>
        </div>
    </div>

    <div class="container">
        <div class="container">
            <h3>About our scoring system:</h3>
            <p>Scores are on the range [0,125] with the lower scores representing zip codes are more peaceful.</p>
            <p>A = [0,15)</p>
            <p>B = [15,40)</p>
            <p>C = [40,60)</p>
            <p>D = [60,75)</p>
            <p>E = [75,90)</p>
            <p>F = [90,110)</p>
            <p>G = 110+</p>
            <br>
        </div>
    </div>



</body>



</html>