<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <style>
            h1 {text-align: center;}
            p {color:darkolivegreen; margin:30px;}
            h2 {color:forestgreen; margin:30px;}
            p {text-align: right;}
            div {text-align: center;}
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Serenity Search Result</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;700&family=Chau+Philomene+One&display=swap" rel="stylesheet">
        <link href="{% static 'css/forum.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    
    </head>

<body style="background-color:ECFFE8;">

    <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand ps-3" href="/">
            <img src="{% static '/img/SerenitySearch-1.png' %}" alt="" width="90" height="90">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center">
            <header class="serenity-title">
                <h1 style="color:ForestGreen;">SerenitySearch</h1>
                <p style="color:ForestGreen;"><i>Helping New Yorkers find peace in the city that never sleeps</i></p>
            </header>

        </div>

        <!-- pe-6 is a bootstrap spacing class, need to figure out a better way to align the links and title -->
        <ul class="navbar-nav pe-6">
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{%url 'about' %}">About SerenityScores</a>
            </li>
            {% block user %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <p>Hi {{ user.username }}!<a class="nav-link align-right" href="{% url 'logout' %}">Log Out</a></p>
            </li>
            {% else %}
            <li class="nav-item align-right">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            {% endif %}
            {% endblock %}
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'forum_home' %}">Forum Home</a>
            </li>

            </p>

    </nav>
    <br><br>
<h2 style="color:ForestGreen;"> Why Search for Serenity? </h2>
<p> ...because mental health reasons...</p>
<br>

<h2> About Our Scoring </h2>
<p> Our team pulled publicly available datasets containing information we believe is fundamental or detrimental to healthy, peaceful living.</p>
<p> blah blah blah</p>  

<h2> Why User Feedback? </h2>
<p> No one knows your own neighborhood better than you! </p>

</body>



</html>
