<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;700&family=Chau+Philomene+One&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <script src="{% static '/js/map.js' %}" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdv_xCiAS0nmezcZQ95VWozTJ_BHQXjlE&callback=initMap"
        type="text/javascript" async defer></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body style="">



    <nav class="navbar navbar-expand-lg navbar-light" style="height:40px;">

   
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-left mt-3 row">
            <div class="col-auto">
                <h1 style="color:ForestGreen;">SerenitySearch</h1>
            </div>
                
        </div>

        <!-- pe-6 is a bootstrap spacing class, need to figure out a better way to align the links and title -->
        <ul class="navbar-nav pe-6">
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{%url 'about' %}">About SerenityScores</a>
            </li>
            {% block user %}
            {% if user.is_authenticated %}
            <li class="nav-item align-right pe-3">
                <a class="nav-link align-left" href="{% url 'profile' %}">View {{user.username}}'s Profile</a>
            </li>
            <li class="nav-item align-right pe-3">
                <a class="nav-link align-right" href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item align-right">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            {% endif %}
            {% endblock %}
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'forum_home' %}">Forum Home</a>
            </li>

            </p>

    </nav>


    <!-- In your Django template -->

<!-- The checkbox and its associated image -->


    <center>
        <div class="navbar navbar-nav" style="height: 80px;">
            <form>
            <div class="row g-2 align-items-center">
                <div class="col-auto">                    
                    <!-- Load jQuery -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    

                    <label for="residentialNoise">
                        <input type="checkbox" id="residentialNoise" name="filter" value="yes" style="opacity:0;">
                        <img src="{% static '/icon/noise-unchecked.svg' %}" id="residentialNoiseIcon" width="60px">
                                            <!-- Add the JavaScript to toggle the image -->
                    <script>
                        // Get the checkbox and its associated image
                        var checkbox1 = $("#residentialNoise");
                        var image1 = $("#residentialNoiseIcon");
                      
                        // Add a click event listener to the checkbox
                        checkbox1.click(function() {
                          // If the checkbox is checked, change the image to the checked image
                          if (checkbox1.is(":checked")) {
                            image1.attr("src", "{% static '/icon/noise-checked.svg'%}");
                            image1.attr("width", "60px")
                          } else {
                            
                            // Otherwise, change the image to the unchecked image
                            image1.attr("src", "{% static '/icon/noise-unchecked.svg' %}");
                            image1.attr("width", "60px")
                          }
                        });
                      </script>
                    </label>


                    <label for="dirtyConditions">
                        <input type="checkbox" id="dirtyConditions" name="filter" value="yes" style="opacity:0;">
                        <img src="{% static '/icon/dirty-unchecked.svg' %}" id="dirtyConditionsIcon" width="60px">
                                            <!-- Add the JavaScript to toggle the image -->
                    <script>
                        // Get the checkbox and its associated image
                        var checkbox2 = $("#dirtyConditions");
                        var image2 = $("#dirtyConditionsIcon");
                      
                        // Add a click event listener to the checkbox
                        checkbox2.click(function() {
                          // If the checkbox is checked, change the image to the checked image
                          if (checkbox2.is(":checked")) {
                            image2.attr("src", "{% static '/icon/dirty-checked.svg'%}");
                            image2.attr("width", "60px")
                          } else {
                            
                            // Otherwise, change the image to the unchecked image
                            image2.attr("src", "{% static '/icon/dirty-unchecked.svg' %}");
                            image2.attr("width", "60px")
                          }
                        });
                      </script>
                    </label>


        
                    <label for="treeCensus">
                        <input type="checkbox" id="treeCensus" name="filter" value="yes" style="opacity:0;">
                        <img src="{% static '/icon/trees-unchecked.svg' %}" id="treeCensusIcon" width="60px">
                                            <!-- Add the JavaScript to toggle the image -->
                    <script>
                        // Get the checkbox and its associated image
                        var checkbox3 = $("#treeCensus");
                        var image3 = $("#treeCensusIcon");
                      
                        // Add a click event listener to the checkbox
                        checkbox3.click(function() {
                          // If the checkbox is checked, change the image to the checked image
                          if (checkbox3.is(":checked")) {
                            image3.attr("src", "{% static '/icon/trees-checked.svg'%}");
                            image3.attr("width", "60px")
                          } else {
                            
                            // Otherwise, change the image to the unchecked image
                            image3.attr("src", "{% static '/icon/trees-unchecked.svg' %}");
                            image3.attr("width", "60px")
                          }
                        });
                      </script>
                    </label>


        
                    <label for="parkCount">
                        <input type="checkbox" id="parkCount" name="filter" value="yes" style="opacity:0;">
                        <img src="{% static '/icon/parks-unchecked.svg' %}" id="parkCountIcon" width="60px">
                                            <!-- Add the JavaScript to toggle the image -->
                    <script>
                        // Get the checkbox and its associated image
                        var checkbox4 = $("#parkCount");
                        var image4 = $("#parkCountIcon");
                      
                        // Add a click event listener to the checkbox
                        checkbox4.click(function() {
                          // If the checkbox is checked, change the image to the checked image
                          if (checkbox4.is(":checked")) {
                            image4.attr("src", "{% static '/icon/parks-checked.svg'%}");
                            image4.attr("width", "60px")
                          } else {
                            
                            // Otherwise, change the image to the unchecked image
                            image4.attr("src", "{% static '/icon/parks-unchecked.svg' %}");
                            image4.attr("width", "60px")
                          }
                        });
                      </script>
                    </label>
        


                    <label for="constructionImpact">
                        <input type="checkbox" id="constructionImpact" name="filter" value="yes" style="opacity:0;">
                        <img src="{% static '/icon/construction-unchecked.svg' %}" id="constructionImpactIcon" width="60px">
                                            <!-- Add the JavaScript to toggle the image -->
                    <script>
                        // Get the checkbox and its associated image
                        var checkbox5 = $("#constructionImpact");
                        var image5 = $("#constructionImpactIcon");
                      
                        // Add a click event listener to the checkbox
                        checkbox5.click(function() {
                          // If the checkbox is checked, change the image to the checked image
                          if (checkbox5.is(":checked")) {
                            image5.attr("src", "{% static '/icon/construction-checked.svg'%}");
                            image5.attr("width", "60px")
                          } else {
                            
                            // Otherwise, change the image to the unchecked image
                            image5.attr("src", "{% static '/icon/construction-unchecked.svg' %}");
                            image5.attr("width", "60px")
                          }
                        });
                      </script>
                    </label>
                </div>
                <div class="col-auto">
                    <button type="button" id="btn" class="btn btn-outline-primary">Submit</button>
                </div>

                <form action="search" method="POST">
                        <div class="col-auto">
                            <input class="form-control" type="text" placeholder="Enter a 5-digit NYC zipcode:" name="searched" minlength="5" maxlength="5"
                            pattern="[0-9]+" required />
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </div>
                        {% csrf_token %}
                </form>

            </div>
            </form>
    
            
           
    
        </div>

        {% if messages %}
        {% for message in messages %}
        {% endfor %}
        {% endif %}

        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}




    </center>

    {% block content %}
    <div id="map">


    <script>
        var map;

        const residentialNoise = document.querySelector('#residentialNoise');
        const dirtyConditions = document.querySelector('#dirtyConditions');
        const treeCensus = document.querySelector('#treeCensus');
        const parkCount = document.querySelector('#parkCount');
        const constructionImpact = document.querySelector('#constructionImpact');
        const btn = document.querySelector('#btn');
        var factors = document.getElementsByName("filter");

        btn.onclick = () => {
            var filters = [];
            factors.forEach(factor => {
                if (factor.checked) {
                    filters.push(factor.id);
                }
            });
            console.log(filters);
            if (!filters.length) {
                console.log("No filters selected");
                location.reload(true);;
            } else {

                // Create new grades for all zipcodes with the filters
                // console.log(zipDiction["11220"]);
                var filterDiction1 = {};
                var zipcodes = Object.keys(zipDiction);
                function sum(obj) {
                    var sum = 0;
                    for (var el in obj) {
                        if (obj.hasOwnProperty(el)) {
                            console.log(el);

                            if (el == "parkCount") {
                                sum += -parseFloat(obj[el]);
                            }
                            else if (el == "treeCensus") {
                                sum += -parseFloat(obj[el]);
                            }
                            else if (el == "residentialNoise") {
                                sum += 0.05 * parseFloat(obj[el]);
                            }
                            else {
                                sum += parseFloat(obj[el]);
                            }
                        }
                    }
                    return sum;
                }

                const deepCopy = function (src) {
                    let target = {};
                    // using for/in on object also returns prototype properties
                    for (let prop in src) {
                        // .hasOwnProperty() filters out these prototype properties.
                        if (src.hasOwnProperty(prop)) {
                            target[prop] = src[prop]; //iteratively copies over values, not references
                        }
                    }
                    return target;
                }
                var min = 1000000;
                var max = 0;
                for (let j = 0; j < zipcodes.length; j++) {

                    var zipcode = zipcodes[j];
                    var transform = zipDiction[zipcode];
                    var subset = filters
                        .reduce(function (obj2, key) {
                            if (key in transform) // line can be removed to make it inclusive
                                obj2[key] = transform[key];
                            return obj2;
                        }, {});

                    if (sum(subset) > max) {
                        max = sum(subset);
                    }
                    if (sum(subset) < min) {
                        min = sum(subset);
                    }
                    filterDiction1[zipcode] = subset;
                    filterDiction1[zipcode]["sum"] = sum(subset);

                }
                zips = Object.keys(filterDiction1);
                for (let j = 0; j < zips.length; j++) {
                    var zipcode = zips[j];
                    var subset = filterDiction1[zipcode]
                    filterDiction1[zipcode]["grade"] = score_to_grade((sum(subset) - min) / (max - min));
                }
                console.log(filterDiction1)


                console.log(subset);


                var map;
                map = new window.google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: {
                        lat: 40.7831,
                        lng: -73.9712
                    }
                });
                map.data.loadGeoJson("{% static '/json/serenity.geojson' %}");

                map.data.setStyle(function (feature) {
                    //TODO: Read grade from database based on zipcode
                    curzip = feature.getProperty('postalCode');
                    var grade = "N";
                    if (filterDiction1[curzip]) {
                        grade = filterDiction1[curzip]["grade"];
                        // grade = filterDiction[curzip];
                    }

                    // var SD_NAME = feature.getProperty('grade');
                    var color = "gray";
                    if (grade == "A") {
                        color = "#379237";
                    }

                    else if (grade == "B") {
                        color = "#82CD47";
                    }

                    else if (grade == "C") {
                        color = "#F0FF42";
                    }

                    else if (grade == "D") {
                        color = "#FFCD38";
                    }

                    else if (grade == "E") {
                        color = "#FF8D29";
                    }

                    else if (grade == "F") {
                        color = "#FF4949";
                    }

                    else if (grade == "G") {
                        color = "#F32424";
                    }
                    return {
                        fillColor: color,
                        strokeWeight: 1,
                        fillOpacity: 0.5,
                        strokeColor: "#55555",
                        strokeOpacity: 1.0,

                    }
                });

                var infowindow = new google.maps.InfoWindow();

                map.data.addListener('click', function (event) {
                    let zipcode = event.feature.getProperty("postalCode");
                    let neighborhood = event.feature.getProperty("PO_NAME");
                    let forum_url = "http://se-proj-develop.eba-hksnzcxj.us-west-2.elasticbeanstalk.com/forumPosts/zipcode/" + zipcode;
                    var grade = "N";
                    if (zipDiction[zipcode]) {
                        grade = zipDiction[zipcode]["grade"];
                    }
                    if(filterDiction1[zipcode]){
                        grade = filterDiction1[zipcode]["grade"];
                    }

                    let html = '' + neighborhood + '<br>' + zipcode + "<br>" + ' Grade: ' + grade + "<br>" + "<a href=" + forum_url + ">" + "Forum" + "</a>"; // combine state name with a label


                    infowindow.setContent(html); // show the html variable in the infowindow
                    infowindow.setPosition(event.latLng); // anchor the infowindow at the marker
                    infowindow.setOptions({ pixelOffset: new google.maps.Size(0, -30) }); // move the infowindow up slightly to the top of the marker icon
                    infowindow.open(map);
                });
            }
        };




        function score_to_grade(score) {
            var grade = "N"
            if (score >= 0.95) {
                grade = "G";
            } else if (score < 0.95 && score >= 0.7) {
                grade = "F";
            } else if (score < 0.7 && score >= 0.5) {
                grade = "E";
            } else if (score < 0.5 && score >= 0.25) {
                grade = "D";
            } else if (score < 0.25 && score >= 0.15) {
                grade = "C";
            } else if (score < 0.15 && score >= 0.02) {
                grade = "B";
            } else if (score < 0.02) {
                grade = "A";
            }
            return grade;
        }

        var zipDiction = {};
        var APIlink = "http://127.0.0.1:8000/api/table/";
        // var APIlink = "http://se-proj-develop.eba-hksnzcxj.us-west-2.elasticbeanstalk.com/api/table/";
        fetch(APIlink)
            .then((response) => response.json())
            .then((data) => {
                for (var i = 0; i < data.length; i++) {
                    zipDiction[data[i]['zipcode']] = data[i];
                }
            })
            .then(() => {
                var map;
                map = new window.google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: {
                        lat: 40.7831,
                        lng: -73.9712
                    }
                });
                map.data.loadGeoJson("{% static '/json/serenity.geojson' %}");

                map.data.setStyle(function (feature) {
                    //TODO: Read grade from database based on zipcode
                    curzip = feature.getProperty('postalCode');
                    var grade = "N";
                    if (zipDiction[curzip]) {
                        grade = zipDiction[curzip]["grade"];
                        // grade = filterDiction[curzip];
                    }

                    // var SD_NAME = feature.getProperty('grade');
                    var color = "gray";
                    if (grade == "A") {
                        color = "#379237";
                    }

                    else if (grade == "B") {
                        color = "#82CD47";
                    }

                    else if (grade == "C") {
                        color = "#F0FF42";
                    }

                    else if (grade == "D") {
                        color = "#FFCD38";
                    }

                    else if (grade == "E") {
                        color = "#FF8D29";
                    }

                    else if (grade == "F") {
                        color = "#FF4949";
                    }

                    else if (grade == "G") {
                        color = "#F32424";
                    }
                    return {
                        fillColor: color,
                        strokeWeight: 1,
                        fillOpacity: 0.5,
                        strokeColor: "#55555",
                        strokeOpacity: 1.0,

                    }
                });

                var infowindow = new google.maps.InfoWindow();

                map.data.addListener('click', function (event) {

                    let zipcode = event.feature.getProperty("postalCode");
                    let neighborhood = event.feature.getProperty("PO_NAME");
                    let forum_url = "http://se-proj-develop.eba-hksnzcxj.us-west-2.elasticbeanstalk.com/forumPosts/zipcode/" + zipcode;
                    var grade = "N";
                    if (zipDiction[zipcode]) {
                        grade = zipDiction[zipcode]["grade"];
                    }



                    let html = '' + neighborhood + '<br>' + zipcode + "<br>" + ' Grade: ' + grade + "<br>" + "<a href=" + forum_url + ">" + "Forum" + "</a>"; // combine state name with a label


                    infowindow.setContent(html); // show the html variable in the infowindow
                    infowindow.setPosition(event.latLng); // anchor the infowindow at the marker
                    infowindow.setOptions({ pixelOffset: new google.maps.Size(0, -30) }); // move the infowindow up slightly to the top of the marker icon
                    infowindow.open(map);
                });
            });


        function initMap() {

        }
    </script>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>



    {% endblock %}

</body>