<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;700&family=Chau+Philomene+One&display=swap"
        rel="stylesheet">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <script src="{% static '/js/map.js' %}" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdv_xCiAS0nmezcZQ95VWozTJ_BHQXjlE&callback=initMap"
        type="text/javascript" async defer></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body style="background-color:ECFFE8;">



    <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand ps-3" href="/">
            <img src="{% static '/img/SerenitySearch-1.png' %}" alt="" width="90" height="90">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center">
            <header class="serenity-title">
                <h1 style="color:ForestGreen;">SerenitySearch</h1>
                <p style="color:ForestGreen;"><i>Helping New Yorkers find peace in the city that never sleeps</i></p>
            </header>

        </div>

        <!-- pe-6 is a bootstrap spacing class, need to figure out a better way to align the links and title -->
        <ul class="navbar-nav pe-6">
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            {% block user %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <p>Hi {{ user.username }}!<a class="nav-link align-right" href="{% url 'logout' %}">Log Out</a></p>
            </li>
            {% else %}
            <li class="nav-item align-right">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            {% endif %}
            {% endblock %}
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'forum_home' %}">Forum Home</a>
            </li>

            </p>

    </nav>

    {% block content %}
    <div id="map"></div>
    {% endblock %}

    <center>
        <form>
            <label for="residentialNoise">
                <input type="checkbox" id="residentialNoise" name="filter" value="yes"> Residential Noise
            </label>
            <label for="dirtyConditions">
                <input type="checkbox" id="dirtyConditions" name="filter" value="yes"> Dirty Conditions
            </label>

            <label for="treeCensus">
                <input type="checkbox" id="treeCensus" name="filter" value="yes"> Tree Census
            </label>

            <label for="parkCount">
                <input type="checkbox" id="parkCount" name="filter" value="yes"> Park Count
            </label>

            <label for="constructionImpact">
                <input type="checkbox" id="constructionImpact" name="filter" value="yes"> Construction
                Impact
            </label>
            <br>
            <button type="button" id="btn" class="btn btn-outline-primary">Submit</button>
        </form>

        <p style="color:ForestGreen;">To start your search, please enter a 5-digit NYC zipcode:</p>
        <form action="search" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Enter a Zipcode" name="searched" minlength="5" maxlength="5"
                pattern="[0-9]+" required />
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>

        {% if messages %}
        {% for message in messages %}
        {% endfor %}
        {% endif %}

        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}


    </center>


    <script>
        var map;

        const residentialNoise = document.querySelector('#residentialNoise');
        const dirtyConditions = document.querySelector('#dirtyConditions');
        const treeCensus = document.querySelector('#treeCensus');
        const parkCount = document.querySelector('#parkCount');
        const constructionImpact = document.querySelector('#constructionImpact');
        const btn = document.querySelector('#btn');
        var factors = document.getElementsByName("filter");

        btn.onclick = () => {
            var filters = [];
            factors.forEach(factor => {
                if(factor.checked){
                    filters.push(factor.id);
                    console.log(factor.id);
                    console.log(factor.checked);
                }
            });
            // Create new grades for all zipcodes with the filters
            // console.log(zipDiction["11220"]);
            var filterDiction1 = {};
            var zipcodes = Object.keys(zipDiction);
            function sum( obj ) {
                var sum = 0;
                for( var el in obj ) {
                if( obj.hasOwnProperty( el ) ) {
                sum += parseFloat( obj[el] );
                }
                } 
            return sum;
                }

                const deepCopy = function(src) {
                let target = {};
                // using for/in on object also returns prototype properties
                for (let prop in src) {
                // .hasOwnProperty() filters out these prototype properties.
                if (src.hasOwnProperty(prop)) {
                    target[prop] = src[prop]; //iteratively copies over values, not references
                }
                }
            return target;
                }
                var min=1000000;
                var max=0;
            for (let j = 0; j < zipcodes.length; j++) {
                
                    var zipcode = zipcodes[j];
                    var transform = zipDiction[zipcode];
                    var subset = filters
                    .reduce(function (obj2, key) {
                    if (key in transform) // line can be removed to make it inclusive
                    obj2[key] = transform[key];
                    return obj2;
                    }, {});
                    
                    if (sum(subset) > max) {
                        max = sum(subset);
                    }
                    if (sum(subset) < min) {
                        min = sum(subset);
                    }
                    filterDiction1[zipcode] =subset ;
                    filterDiction1[zipcode]["sum"] =  sum(subset);
                        
                }
            zips=Object.keys(filterDiction1);
            for (let j = 0; j < zips.length; j++) { 
                var zipcode = zips[j];
                var subset = filterDiction1[zipcode]
                filterDiction1[zipcode]["grade"] = score_to_grade((sum(subset) - min) / (max - min));
            }
            console.log(filterDiction1)
            

            console.log(subset);


            var map;
                map = new window.google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: {
                        lat: 40.7831,
                        lng: -73.9712
                    }
                });
                map.data.loadGeoJson("{% static '/json/serenity.geojson' %}");

                map.data.setStyle(function (feature) {
                    //TODO: Read grade from database based on zipcode
                    curzip = feature.getProperty('postalCode');
                    var grade = "N";
                    if (filterDiction1[curzip]) {
                        grade = filterDiction1[curzip]["grade"];
                        // grade = filterDiction[curzip];
                    }

                    // var SD_NAME = feature.getProperty('grade');
                    var color = "gray";
                    if (grade == "A") {
                        color = "#379237";
                    }

                    else if (grade == "B") {
                        color = "#82CD47";
                    }

                    else if (grade == "C") {
                        color = "#F0FF42";
                    }

                    else if (grade == "D") {
                        color = "#FFCD38";
                    }

                    else if (grade == "E") {
                        color = "#FF8D29";
                    }

                    else if (grade == "F") {
                        color = "#FF4949";
                    }

                    else if (grade == "G") {
                        color = "#F32424";
                    }
                    return {
                        fillColor: color,
                        strokeWeight: 1,
                        fillOpacity: 0.5,
                        strokeColor: "#55555",
                        strokeOpacity: 1.0,

                    }
                });

                var infowindow = new google.maps.InfoWindow();

                map.data.addListener('click', function (event) {
                    let zipcode = event.feature.getProperty("postalCode");
                    let neighborhood = event.feature.getProperty("PO_NAME");
                    var grade = "N";
                    if (zipDiction[zipcode]) {
                        grade = zipDiction[zipcode]["grade"];
                    }



                    let html = '' + neighborhood + ': ' + zipcode + ' Grade: ' + grade; // combine state name with a label
                    infowindow.setContent(html); // show the html variable in the infowindow
                    infowindow.setPosition(event.latLng); // anchor the infowindow at the marker
                    infowindow.setOptions({ pixelOffset: new google.maps.Size(0, -30) }); // move the infowindow up slightly to the top of the marker icon
                    infowindow.open(map);
                });
        };


        

        function score_to_grade(score){
            var grade = "N"
            if (score>=0.4){
                grade = "G";
            } else if(score<0.4 && score>=0.3){
                grade = "F";
            } else if(score<0.3 && score>=0.2){
                grade = "E";
            } else if(score<0.2 && score>=0.15){
                grade = "D";
            } else if(score<0.15 && score>=0.1){
                grade = "C";
            } else if(score<0.1 && score>=0.05){
                grade = "B";
            } else if(score<0.05 && score>=0.0){
                grade = "A";
            }
            return grade;
        }

        var zipDiction = {};
        // var APIlink = "http://se-proj-develop-env.eba-yiphn7ci.us-west-2.elasticbeanstalk.com/api/table/";
        var APIlink = "http://127.0.0.1:8000/api/table/";
        fetch(APIlink)
            .then((response) => response.json())
            .then((data) => {
                for (var i = 0; i < data.length; i++) {
                    zipDiction[data[i]['zipcode']] = data[i];
                }
            })
            .then(() => {
                var map;
                map = new window.google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: {
                        lat: 40.7831,
                        lng: -73.9712
                    }
                });
                map.data.loadGeoJson("{% static '/json/serenity.geojson' %}");

                map.data.setStyle(function (feature) {
                    //TODO: Read grade from database based on zipcode
                    curzip = feature.getProperty('postalCode');
                    var grade = "N";
                    if (zipDiction[curzip]) {
                        grade = zipDiction[curzip]["grade"];
                        // grade = filterDiction[curzip];
                    }

                    // var SD_NAME = feature.getProperty('grade');
                    var color = "gray";
                    if (grade == "A") {
                        color = "#379237";
                    }

                    else if (grade == "B") {
                        color = "#82CD47";
                    }

                    else if (grade == "C") {
                        color = "#F0FF42";
                    }

                    else if (grade == "D") {
                        color = "#FFCD38";
                    }

                    else if (grade == "E") {
                        color = "#FF8D29";
                    }

                    else if (grade == "F") {
                        color = "#FF4949";
                    }

                    else if (grade == "G") {
                        color = "#F32424";
                    }
                    return {
                        fillColor: color,
                        strokeWeight: 1,
                        fillOpacity: 0.5,
                        strokeColor: "#55555",
                        strokeOpacity: 1.0,

                    }
                });

                var infowindow = new google.maps.InfoWindow();

                map.data.addListener('click', function (event) {
                    let zipcode = event.feature.getProperty("postalCode");
                    let neighborhood = event.feature.getProperty("PO_NAME");
                    var grade = "N";
                    if (zipDiction[zipcode]) {
                        grade = zipDiction[zipcode]["grade"];
                    }



                    let html = '' + neighborhood + ': ' + zipcode + ' Grade: ' + grade; // combine state name with a label
                    infowindow.setContent(html); // show the html variable in the infowindow
                    infowindow.setPosition(event.latLng); // anchor the infowindow at the marker
                    infowindow.setOptions({ pixelOffset: new google.maps.Size(0, -30) }); // move the infowindow up slightly to the top of the marker icon
                    infowindow.open(map);
                });
            });


        function initMap() {

        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>