<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <title>Text-Editor/IDE Charts</title>
</head>




{%load static%}
{{error}}
{% if post %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serenity Search Result</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;700&family=Chau+Philomene+One&display=swap" rel="stylesheet">
    <link href="{% static 'css/forum.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand ps-3" href="/">
            <img src="{% static '/img/SerenitySearch-1.png' %}" alt="" width="90" height="90">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center navbar-center">
            <header class="serenity-title">
                <h1 style="color:ForestGreen;">SerenitySearch</h1>
                <p style="color:ForestGreen;"><i>Helping New Yorkers find peace in the city that never sleeps</i></p>
            </header>

        </div>

        <!-- pe-6 is a bootstrap spacing class, need to figure out a better way to align the links and title -->
        <ul class="navbar-nav pe-6">
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            {% block user %}
            {% if user.is_authenticated %}
            <li class="nav-item">
              <p>Hi {{ user.username }}!<a class="nav-link align-right" href="{% url 'logout' %}">Log Out</a></p>
            </li>
            {% else %}
            <li class="nav-item align-right">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
            </li>
            {% endif %}
            {% endblock %}
            <li class="nav-item align-right pe-3">
                <a class="nav-link" href="{% url 'forum_home' %}">Forum Home</a>
            </li>

        </p>
    </nav>


    <br>

    <div class="container text-center">

        {% block header %}
        {% if user.is_authenticated %}
            <h1>{{ user.username }}'s Search Result</h1>
        {% else %}
            <h1>Search Result</h1>
        {% endif %}
        {% endblock %}


    <h2>Serenity Factors (normalized) for {{post.zipcode}}:</h2>
    <p>The 'Residential Noise' score is <b>{{post.residentialNoise}}</b></p>
    <p>The 'Dirty Conditions' score is <b>{{post.dirtyConditions}}</b></p>
    <p>The 'Sanitation Conditions' score is <b>{{post.sanitationCondition}}</b></p>
    <p>The 'Waste Disposal' score is <b>{{post.wasteDisposal}}</b></p>
    <p>The 'Unsanitary Conditions' score is <b>{{post.unsanitaryCondition}}</b></p>
    <p>The 'Construction Impact' score is <b>{{post.constructionImpact}}</b></p>
    <p>The 'Tree Census' score is <b>{{post.treeCensus}}</b></p>
    <p>The 'Parks Properties' score is <b>{{post.parkCount}}</b> </p>
    <h2>Overall SerenityScore: {{post.grade}}</h2>
    <p> Raw SerenityScore: {{post.raw}} </p>
    <br>
    <h3>User Rating:
        {% if post.userAvg == 0 %}
            No one has reviewed this zip code!
        {% else %}
            {{rounded}}</h3>
        {% endif %}
    {% else %}
    <h1>nothing found</h1>
    {% endif %}
    <br>
    {% block rate %}
    {% if user.is_authenticated %}
        <form action="/rate/" method = "POST">
        {% csrf_token %}
        <input id="zip" type="hidden" name="zip" value="{{ post.zipcode }}">
        <input class = "btn btn-success" type="submit" value="Submit a grade for {{ post.zipcode }}!" />
        </form>
        <br>
    {% else %}
        <br>
    {% endif %}
    {% endblock %}
    <h3>About our scoring system:</h3>
    <p>Scores are on the range [0,1] with the lower scores representing zip codes are more peaceful.</p>
    <p>A = [0,0.1)</p>
    <p>B = [0.1,0.2)</p>
    <p>C = [0.2,0.3)</p>
    <p>D = [0.3,0.4)</p>
    <p>E = [0.4,0.5)</p>
    <p>F = [0.5,0.6)</p>
    <p>G = 0.6+</p>
    <br>

    <h5 class="card-title">
        <a href="{% url 'forum_zipcode' borough=post.borough pk=post.zipcode %}"><h3>Check out the forum for {{post.zipcode}}</h3></a>
    </h5>

    <a class="btn btn-success" href="{% url 'home' %}">New Search</a>
    </div>
</body>


{%block scripts%}
<script>
// jquery function
$(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                        "Residental Noise",
                        "Dirty Conditoins",
                        "Sanitation Conditions",
                        "Waste Disposal",
                        "Unsanitary Conditoins",
                        "Construction Impact",
                        "Tree Census",
                        "Parks Properties"], //loop through queryset,
                datasets: [{
                    label: '# of users',
                    data: [
                        {{post.residentialNoise}},
                        {{post.dirtyConditions}},
                        {{post.sanitationCondition}},
                        {{post.wasteDisposal}},
                        {{post.unsanitaryCondition}},
                        {{post.constructionImpact}},
                        {{post.treeCensus}},
                        {{post.parkCount}}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(202, 171, 145, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(175, 225, 175, 0.2)',
                        'rgba(34, 139, 34, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(202, 171, 145 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(175, 225, 175, 1)',
                        'rgba(34, 139, 34, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
    });

</script>
{%endblock scripts%}
{%block content%}
<canvas id="myChart" width="400" height="100"></canvas>
{%endblock content%}


</html>
