<!DOCTYPE html>
{% load static %}
<html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Serenity Search Result</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;700&family=Chau+Philomene+One&display=swap" rel="stylesheet">
        <link href="{% static 'css/forum.css' %}" rel="stylesheet">     
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
     
      </head>

<body>  
<center>

<h1> Thanks for Rating! </h1>
<p>You gave {{ zipcode }} a {{ grade }}. The raw user score is now {{ updated_grade }}</p>

<br>
<a class = "btn btn-success" href="{% url 'home' %}">Return Home</a>

</body>
</center>
</html>