option_settings:
            aws:elasticbeanstalk:application:environment:
                    DJANGO_SETTINGS_MODULE: "serenity_project.settings"
                    PYTHONPATH: "/var/app/current:$PYTHONPATH"
            aws:elasticbeanstalk:container:python:
                    WSGIPath: serenity_project.wsgi:application
            aws:elasticbeanstalk:environment:proxy:staticfiles:
                    /static: static/admin